body{
    background-color: rgb(248, 245, 245);
}
h1{
    margin: auto;
    height: 150px;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(222, 185, 180);
    border-radius: 29px;
    border: solid;
    font-size: 60px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

a{
    padding: 9px;
    margin-left: 15px;
    font-family: 'Noto Sans',sans-serif;
    color: black;
    background-color: rgb(222, 185, 180);
    border-radius: 29px;
    border: solid;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.salmon{
    border: solid;
    width: auto;
    margin-top: 50px;
    border-radius: 29px;
    background-color: rgb(223, 207, 205);


}

.salmon h3{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 50px;
}

.salmon img{
    display: block;
    margin-right: auto;
    width: 70% ;
    margin-left: auto;


}

.salmon ul{
    line-height: 25px;
    margin-left: 10px;
    margin-bottom: 70px;
}

.salmon li{
    margin-top: 20px;
    
}

.salmon p{
    margin-top: 70px;
    line-height: 25px;
    padding: 20px;
    font-size: large;
}

.salmon h4{
    padding: 20px;
}

footer{
    padding: 20px;
}