body{
    background-color: rgb(11, 6, 5);
}

header {
    width: 100%;
    display: inline-block;
    background-color: rgb(215, 184, 180);
    border-radius: 29px;
}

h1{
    width: 60%;
    border-radius: 29px;
    margin-top: auto;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 80px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.header img{
    width: 200px;
    margin-left: 35px;
    }

a{
    padding: 9px;
    margin-left: 15px;
    margin-top: -47px;
    font-family: 'Noto Sans',sans-serif;
    color: rgb(26, 13, 11);
    background-color: rgb(215, 184, 180);
    border-radius: 29px;
    border: 2px solid black;
    position: fixed;
    text-decoration: none;
}

.salmon{
    width: auto;
    margin-top: 50px;
    border-radius: 29px;
    background-color: rgb(215, 184, 180);
}

.salmon h3{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: xxx-large;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    background-color: rgb(157, 109, 102);
}

.salmon img{
    display: block;
    margin-right: auto;
    width: 700px;
    height: 500px;
    margin-left: auto;
    border-radius: 29px;
}

.salmon p{
    margin-top: 20px;
    line-height: 35px;
    padding: 20px;
    font-size: large;
    font-weight: 600;
    border-bottom: thin solid;
}

.hero img{
    float: right;
    margin-right: 10px;
    margin-top: -30px;
}

.hero h4{
    font-size: xx-large;
    margin: 0px;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 50px;
    font-style: italic;
}

.hero p{
    margin-top: -20px;;
    padding: 10px;
}

.sub-section {
    display: inline-block;
}

.merch {
    display: inline-block;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid;
}

.merch h5{
    margin-left: 25px;
    font-size: 26px;
    text-align: center;
}

.merch img {
    width: 200px;
    height: 250px;
    margin-bottom: 120px;
    display: inline-block;
    margin-left: 138px;
    border-radius: 29px;
}

.storehours h4{
    width: auto;
    margin-left: 290px;
    font-size: xx-large;
    display: inline-block;
}

.storehours ul {
    line-height: 25px;
    margin-left: 10px;
    margin-bottom: 70px;
    display: inline-flex;
    list-style: none;
}

.storehours li {
    margin-left: 130px;
    font-size: medium;
    font-weight: 600;
}

footer{
    margin-top: 5px;
    padding: 10px;
    height: 50%;
    width: 98%;
    background-color: rgb(11, 6, 5);
    color: rgb(223, 207, 205);
    font-size: larger;
    display: inline-box;
    }

footer img{
    width: 300px;
    border-radius: 29px;
    margin-bottom: -50px;
    margin-top: 80px;
    margin-left: 11px;
}

footer p{
    text-align: right;
}