body{
    background-color: rgb(21, 19, 19);
}
h1{
    margin: auto;
    height: 150px;
    padding-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(223, 207, 205);
    border-radius: 29px;
    font-size: 60px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

a{
    padding: 9px;
    margin-left: 15px;
    margin-top: -47px;
    font-family: 'Noto Sans',sans-serif;
    color: black;
    background-color: rgb(215, 184, 180);
    border-radius: 29px;
    border: 2px solid black;
    position: fixed;
    

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.salmon{

    width: auto;
    margin-top: 50px;
    border-radius: 29px;
    background-color: rgb(223, 207, 205);


}

.salmon h3{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 50px;
    padding-top: 50px;
}

.salmon img{
    display: block;
    margin-right: auto;
    width: 70% ;
    margin-left: auto;
    margin-top: 100px;


}

.salmon ul{
    line-height: 25px;
    margin-left: 10px;
    margin-bottom: 70px;
    padding: 60px;
    padding-top: 0px;
}

.salmon li{
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
}

.salmon p{
    margin-top: 70px;
    line-height: 35px;
    padding: 20px;
    font-size: large;
    font-weight: 600;
    border-bottom: thin solid;
}

.salmon h4{
    padding: 20px;
    margin-top: 100px;
    font-size: x-large;
}

footer{
    padding: 20px;
    color: rgb(223, 207, 205);
    font-size: larger;
}