body{
    width: 1920px;
    height: 1345px;
    background-color: rgb(6, 7, 7);
    margin: auto;
}

header{
    padding: 10px;
    height: 150px;

}

h1{
    width: 85%;
    margin-left: 180px;
    margin-top: 120px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    padding: 60px;
    border-top-left-radius: 29px;
    border-top-right-radius: 29px;
    font-size: xxx-large;
    background-color: rgb(190, 146, 140);
    
}
header a {
    width: 100%;
    margin-left: 20px;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    background-color: rgb(190, 146, 140);
    border-radius: 11px;
    padding: 30px;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    padding: 80px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: rgb(157, 109, 102);
}

a:active {
    text-decoration: none;
}

table{
    margin-left: 190px;
    margin-top: 365px;
    width: 90.4%;
    border-radius: 29px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(190, 146, 140);
}

th{
    font-size: x-large;
}

tr{
    border: 2px solid black;
    width: auto;
    text-align: center;
    font-size: medium;
    padding: 20px;
    color: black;
}


td{
    border: thin solid black;
    font-weight: 900;
    font-size: x-large;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    height:80px;
    width: 150px;
    background-color: rgb(157, 109, 102);
}

fieldset{
height: 50%;
margin-top: 70px;
margin-left: 450px;
text-align: center;
width: 60%;
font-size: xx-large;
font-family: sans-serif;
border-radius: 29px;
border: 4px solid;
border-color: rgb(157, 109, 102);
background-color: rgb(190, 146, 140);
}

legend{
    padding: 40px;
    color: black;
    background-color: rgb(190, 146, 140);
    text-align: center;
    border-radius: 29px;
    border: 4px solid;
    border-color: rgb(157, 109, 102);
    font-size: xxx-large;
}

.min-max{
    text-align: center;
}

.min{
    width: 45%;
    padding-left: 100px;
    padding: 10px;
    line-height: 70px;
    display: inline-block;
    font-size: xx-large;
}

.min input{
    margin-left: 100px;
    font-size: xx-large;
}

.max {
    width: 45%;
    padding: 10px;
    line-height: 70px;
    display: inline-block;
    font-size: xx-large;
}

.max input {
    margin-left: 100px;
}

button{
    display: block;
}

input{
    display: flex;
    padding: 10px;
    width: 300px;
    height: 40px;
    margin-left: 420px;
    font-size: xx-large;
    background-color: rgb(215, 184, 180);
    font-family: sans-serif;
    border-radius: 29px;
    border: solid thin;
    text-align: center;
}

input:hover {
    text-decoration: none;
    background-color: rgb(157, 109, 102);
}

.avgCS{
    line-height: 70px;
    font-size: xx-large;
}

button{
    display: inline-block;
    padding: 20px;
    margin-top: 25px;
    font-size: xx-large;
    margin-left: 15px;
    border-radius: 29px;
    border-color: black;
    border: 5px solid;
    background-color: rgb(157, 109, 102);
}

button:hover{
    background-color: rgb(107, 71, 65);
}